# OpenTelemetry Environment Variable Specification
# https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/

# github.com/signalfx/signalfx-go-tracing@v1.12.0/tracing/tracing.go
SIGNALFX_SERVICE_NAME=fib
SIGNALFX_ENDPOINT_URL=https://ingest.eu0.signalfx.com/v2/trace
SIGNALFX_ACCESS_TOKEN=...
SIGNALFX_SPAN_TAGS=deployment.environment:dev
